{% extends 'courses/base.html' %}

{%block title %}О нас{% endblock %}

{% block links %}
{% endblock %}

{% block body %}
<!--стр о нас-->
<div class="page" id="about">
    <div class="content">
        <p class="Text">PhotoPainter - это мощный и универсальный инструмент, разработанный для творческой
            обработки
            и создания фотографий
            с использованием передовых технологий. Он обладает обширным и разнообразным функционалом,
            предоставляющим пользователям широкий
            спектр возможностей в области редактирования, ретуширования, цветокоррекции, композиции и
            создания
            искусственных эффектов на изображениях.</p>
    </div>
</div>
{% endblock %}